*{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
}
body {
	background: rgb(214,222,225);
	background: radial-gradient(circle, rgba(214,222,225,1) 0%, rgba(187,172,133,1) 100%);
}
/* navbar */
.navbar {
	display: flex;
	align-items: center;
	padding: 20px;
}
nav {
	flex: 1;
	text-align: right;
}
nav ul {
	display: inline-block;
	list-style-type: none;
}
nav ul li {
	display: inline-block;
	margin-right: 20px;
}
a {
	text-decoration: none; 
	color: #555;
}
p {
	color: #555;
}
/* header */
.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 25px;
}
.row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2 {
	flex-basis: 50%;
	min-width: 300px;
}
.col-2 img {
	max-width: 100%;
	padding: 50px 0;
}
.col-2 h1 {
	font-size: 50px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	line-height: 60px;
	margin: 25px 0;
}
.btn {
	display: inline-block;
	background: #a39473;
	color: white;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: 0.5s;
}
.btn:hover {
	background-color: #b09b70;
}

.header .row {
	margin-top: 70px;
}
/* categories and products*/
.categories {
	margin: 70px 0;
}
.small-container {
	max-width: 1080px;
	margin: auto;
	padding: 0 25px;
}
.title {
	text-align: center;
	margin: 20px auto 50px;
	position: relative;
	line-height: 60px;
	color: #555
}
.title::after {
	content: "";
	background: #b09b70; 
	width: 80px;
	height:  5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
h4 {
	color: #555;
}
.col-3 {
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
	transition: transform 0.5s;
}
.col-3 img {
	width: 100%;
}
.col-3 p {
	font-size: 14px;
}
.col-3:hover {
	transform: translateY(-5px);
}
.rating {
	color: #b89349;
}
/* special offer */
.offer{
	background: rgb(214,222,225);
	background: radial-gradient(circle, rgba(214,222,225,1) 0%, rgba(187,172,133,1) 100%);
	margin-top: 80px;
	padding: 30px 0;
}
col-2 .offer-img {
	padding: 50px;
}
small{
	color: #555;
}
/* ------------footer------------ */

.footer {
	background: #000;
	color: #8a8a8a;
	font-size: 14px;
	padding: 60px 0 20px;
}
.footer p {
	color: #8a8a8a;
}
.footer h3 {
	color: #fff;
	margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
	min-width: 250px;
	margin-bottom: 20px;
}
.footer-col-1 {
	flex: 1;
	text-align: center; 
}
.footer-col-1 img {
	width: 180px;
	margin-bottom: 20px;
}
.footer-col-2, .footer-col-3 {
	flex-basis: 15%;
	text-align: center;
}
.footer-col-4 {
	flex-basis: 20%;
	text-align: center;
}
ul {
	list-style-type: none;
}
.footer li a {
	color: #8a8a8a;
}
.footer hr {
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 20px 0;
}
.copyright {
	text-align: center;
}

/* --------------all products -------------- */
.row-2 {
	justify-content: space-between;
	margin: 100px auto 50px;
}
select{
	 border: 1px solid #86792a81;
	 padding: 5px;
	}
select:focus {
	outline: none;
}

.page-btn{
	margin: 0 auto 80px;
}
.page-btn span {
	display: inline-block;
	border: 1px solid #86792a81;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
.page-btn span:hover {
	background: #9c834d;
	color: white;
}

/* --------contact us--------- */
input, textarea {
	display: block;
	margin-bottom: 20px;
	padding: 10px;
	width: 400px;
	font-size: 20px;
	border: 1px solid #86792a81;
	color: rgb(12, 12, 2);
	border-radius: 5px;
}
textarea:focus, input:focus {
	outline: none;
}
/* -------media query for menu-------- */
.menu-icon {
	width: 28px;
	margin-left: 20px;
	display: none;
}
@media only screen and (max-width: 800px) {
	nav ul {
		position: absolute;
		top: 85px;
		left: 0;
		background: radial-gradient(circle, rgba(214,222,225,1) 0%, rgba(187,172,133,1) 100%);
		width: 100%;
		overflow: hidden;
		transition: max-height 0.5s;
	}
	nav ul li{
		display: block;
		margin-right: 50px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.menu-icon {
		display: block;
		cursor: pointer
	}
}

/* media query for less than 600px screen size */
@media only screen and (max-width: 600px) {
	.row {
		text-align: center;
	}
	.col-2, .col-3 {
		flex-basis : 100%;
	}
}